
.builddashboard .lowsuccess {
    color:#f47168;
}

.builddashboard .medsuccess {
    color:#d9af4b;
}

.builddashboard .highsuccess {
    color:#6ab17d;
}

.builddashboard .build-definitions {
    margin-left: 20px;
}

.builddashboard .display-name {
    margin-top: 10px;
    margin-left: 25px;
}

.builddashboard .display-class {
    font-weight: bold;
    font-size: 20px;
}

.builddashboard .radio-buttons {
    margin-left: 25px;
    margin-top: 10px;
}

.builddashboard .builds {
    margin-bottom: 100px;
    margin-left: 25px;
    margin-top: 50px;
}

.builddashboard .builds-chart {
    margin-top: 30px;
    width: 700px;
    margin-right: 30px;
    margin-left: 25px;
}